@import "./src/style_vars.scss";

.question_container{
  background-color: $white;
  //background-color: $accent;
  padding: 30px;
  border-radius: 5px;
  border-bottom: 1px solid $border-grey;
  box-shadow: 2px 2px 4px 2px rgba(23, 32, 39, 0.2);
}
.voting_container{
  margin-bottom: 30px;
}
.question_description{
  margin-bottom: 20px;
}
.client_voting_label{
  margin-left: 20px;
  margin-top: 5px;
  line-height: 22px;
}
.client_voting_header{
  font-size: 20px;
  color: $text-grey;
}