$white: #fff;
$red: #FF7A7A;
$blue: #2D8EFF;
$light_blue: #d5e8ff;
$accent: #FFE600;
$bg_grey: #F9F9F9;
$text-grey: #524C4C;
$light_grey: #F5F8FA;
$input_blue: #D9E3F0;
$border_grey: #EFEFEF;
$bg_dark: #8B8B8B;
$font_color:#212529;


$border-radius: 5px;
$box-shadow: 2px 2px 4px 2px rgba(23, 32, 39, 0.2);
