@import "../../../style_vars";

.osbb_register_form_container{
  width: 100%;
  margin-bottom: 20px;
  background-color: $white;
  box-shadow:$box-shadow;
  padding: 30px;
  //margin: 0 -15px;
  border-radius: $border-radius;
}

label{
  font-size: 12px;
  margin-top: 20px;
}

.osbb_register_form_input{
    margin-top: 0 ;
  }
